<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class="top-page-header">
  <div class="search-bar-contents">
    <div class="search-bar-left-contents">
      <%= link_to image_tag("discloset-logo-white.png", class:"header-discloset-icon"), "/"  %>
      <%= link_to 'HOME', '/', class:'home' %>
      <%= link_to 'Coordinate', '#', class:'coordinate' %>
      <%= link_to 'Statistics', records_path, class:'statistics'%>
      <%= link_to 'Others', '#', class:'others'%>
    </div>
    <!-- <form class=""search-form" action="#"> -->
    <!-- </form> -->
    <div class="search-bar-right-contents">
      <%= link_to 'Add Item', new_item_path, class:"header-btn" %>
    </div>
  </div>
</header>